body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
    margin: 10px auto;
    padding: 10px;
    max-width: 1140px;
}

.app .backdrop {
    z-index: 777;
    color: #fff;
}

.app .toolbar {
    justify-content: center;
}

.app .download-button {
    padding: 1em;
}

.app .table-container td,
.app .table-container th {
    border: 1px solid black;
    width: 12.5% !important;
    text-align: center;
}

.app .table-container tr.hover {
    cursor: pointer;
}

.app .table-container tr[hidden] {
    display: none;
}

.app .table-collapsible-cell {
    padding-bottom: 0;
    padding-top: 0;
}
