@font-face {
  font-family: Roboto;
  src: url(../Roboto/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url(../Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(../Roboto/Roboto-Medium.ttf);
  font-weight: 500;
}

/* Common styles */

:root {
  --light-background: #eee;
  --ligt-background-reversed: #212121;

  --dark-background: #333;
  --dark-background-reversed: #fff;

  --accent: #212121;
  --accent-reversed: #fff;
}

body {
  color: var(--ligt-background-reversed);
  background: var(--light-background);

  font-family: 'Roboto', sans-serif;
}

/* Utils */

/*
 1 - 8px
 2 - 12px
 3 - 16px
*/
.margin-left-2 {
  margin-left: 12px !important;
}

.text-align_right {
  text-align: right !important;
}

/* Typography */

.font-title {
  font-size: 2rem;
  font-weight: 300;
  line-height: 32px;
}

.font-title-2 {
  font-size: 1.125rem;
  font-weight: 500;
}

.font-button {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.max-width {
  max-width: 1040px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Components */

.button-block {
  padding: 0;
  margin: 24px 0;
}

.button {
  padding: 12px;
  margin: 0;

  display: inline-block;

  border: 2px solid var(--accent);
  cursor: pointer;
}

.button:hover {
  background: var(--accent);
  color: var(--accent-reversed);
}

.year-block {
  padding: 0;
  margin: 0;
}

.payment-table {
  margin-top: 24px;
  width: 100%;
  border-collapse: collapse;
}

.payment-table td:nth-child(1) {
  width: 12%;
}

.payment-table td:nth-child(3) {
  width: 15%;
}

.payment-table-item {
  padding: 8px 12px;
  border-bottom: 1px solid #666;
}

.payment-table-item_year {
  padding-top: 16px;
  padding-bottom: 16px;

  background: var(--dark-background);
  color: var(--dark-background-reversed);

  border: none;
}

.payment-table-item_quarter {
  padding-top: 24px;
  padding-bottom: 12px;
}
